/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    padding-top: 40px;
    
}

.alert {
    margin-top: 10px;
}

.page-header h1{
    font-size: xx-large;
    color: #82ce79;
}

.sidebar-title{
    border-bottom: solid 1px #bababa;
    color: #fb7830;
}

.sidebar-body{
    margin-top: 5px;
}

.sidebar-body li {
    color: #bababa;
}

.sidebar-body a {
    color: #5a5edb;
}

.sidebar-body a:hover{
    color: #fb7830;
}

.footer {
    margin-top: 40px;
    border-top: solid 1px #a5c8ff;
    background: #d9f4d5;
    color: #8c8c8d;  
}

.footer-links{
    margin-left: 5px;
}

.footer-ref{
    text-align: right;
    margin-right: 5px;
}

.footer-sponser{
    text-align: center;
    margin-bottom: 10px;
}